<h4 class="mb-4 text-muted" *ngIf="isLoggedIn">Dashboard</h4>
  <div class="row" *ngIf="isLoggedIn">
      <div class="col-md-12">
          <nav>
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#time-sheet" role="tab" aria-controls="nav-home" aria-selected="true">Time Sheet</a>
                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#work-log" role="tab" aria-controls="nav-profile" aria-selected="false">Work Log</a>
                </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="time-sheet" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row" *ngIf="isLoggedIn">
                  <div class="col-12 col-xl-12 mb-4 align-items-stretch">
                    <div class="card h-100 border-0 rounded-0">
                      <div class="card-body">
                        <div class="table-responsive-md">
                          <div class="table-responsive">
                            <input class="form-control" id="myInput" onkeyup="myFunction()" type="text" placeholder="Search..">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th class="text-center">#</th>
                                  <th class="text-center">DAYS</th>
                                  <th class="text-center">LOGIN DATE</th>
                                  <th class="text-center">LOGUT DATE</th>
                                  <th class="text-center">LOG IN</th>
                                  <th class="text-center">LOG OUT</th>
                                  <th class="text-center">SPEND HRS</th>
                                  <th class="text-center">LESS HOURS</th>
                                  <th class="text-center">EXTRA HOURS</th>
                                  <th class="text-center">PROJECT</th>
                                  <th class="text-center">JIRA TICKET/MODULE</th>
                                  <th class="text-center">REMARKS</th>
                                  <th class="text-center">ACTION</th>
                
                                </tr>
                              </thead>
                              <tbody class="no-border-x" id="myTable">
                                <tr *ngFor="let employee of task; index as i;">
                                <td>{{i+1}}</td>
                                              <td>
                                    {{employee.days}}
                                  </td>
                                  <td>
                                    <input type="date" class="form-control" [(ngModel)]="employee.logInDate"
                                      [disabled]="!employee.isEditable" />
                                  </td>
                                  <td>
                                    <input type="date" class="form-control" [(ngModel)]="employee.logOutDate"
                                      [disabled]="!employee.isEditable" />
                                  </td>
                                  <td>
                                    <input type="time" class="form-control" [(ngModel)]="employee.logInTime"
                                      [disabled]="!employee.isEditable" />
                                  </td>
                                  <td>
                                    <input type="time" class="form-control" [(ngModel)]="employee.logOutTime"
                                      [disabled]="!employee.isEditable" />
                                  </td>
                                  <td>{{employee.spendHrs}}</td>
                                  <td class="text-warning">{{employee.lessHrs}}</td>
                                  <td class="text-success">{{employee.extraHrs}}</td>
                                  <td>
                                    <input type="text" class="form-control" [(ngModel)]="employee.projectName"
                                      [disabled]="!employee.isEditable" />
                                  </td>
                                  <td>
                                    <input type="text" class="form-control" [(ngModel)]="employee.module"
                                      [disabled]="!employee.isEditable" />
                                  </td>
                                  <td>
                                    <input type="text" class="form-control" [(ngModel)]="employee.remarks"
                                      [disabled]="!employee.isEditable" />
                                  </td>
                                  <td>
                                    <button (click)="employee.isEditable=!employee.isEditable" *ngIf="!employee.isEditable"
                                      class="btn btn-success" class="btn btn-primary btn-rounded"><span
                                        class="glyphicon glyphicon-pencil">Edit</span>
                                    </button>
                                    <button *ngIf="employee.isEditable" (click)="updateList(employee)"
                                      class="btn btn-info btn-rounded">Save
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="alert alert-success" *ngIf="isSuccessful">
                              <br />{{msg}}
                            </div>
                            <button class="btn btn-success" class="btn btn-primary btn-rounded" (click)="exportAsXLSX()"><span
                                class="glyphicon glyphicon-pencil">Downlaod</span>
                            </button>
                          </div>
                        </div>
                        <br>
                
                        <form name="form" class="form-horizontal" (ngSubmit)="getTask()" #f="ngForm" novalidate>
                          <div class="row">
                            <div class="col">
                              <div class="form-group mr-2">
                                <label for="month">select month</label>
                                <select class="form-control rounded-0" id="month" name="month" [(ngModel)]="form.month" type="text">
                                  <option *ngFor="let m of month" [ngValue]="m"> {{m}} </option>
                                </select>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group mr-2">
                                <label for="year">select year</label>
                                <select class="form-control rounded-0" id="year" name="year" [(ngModel)]="form.year" type="text">
                                  <option *ngFor="let y of year" [ngValue]="y"> {{y}} </option>
                                </select>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group mr-2">
                                <label for="year">Search Previous Report </label>
                                <button class="btn btn-primary btn-block">Search</button>
                              </div>
                              <div class="alert alert-warning" *ngIf="isSignUpFailed">
                                <br />No Record Found
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="work-log" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="row" *ngIf="isLoggedIn">
                  <div class="col-12 col-xl-12 mb-4 align-items-stretch">
                    <div class="card h-100 border-0 rounded-0">
                      <div class="card-body">
                        <div class="table-responsive-md">
                          <div class="table-responsive">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th class="text-center">#</th>
                                  <th class="text-center">Date Started</th>
                                  <th class="text-center">Project Name</th>
                                  <th class="text-center">Jira Task</th>
                                  <th class="text-center">Jira Ticket No</th>
                                  <th class="text-center">Time Spent (eg. 3w 4d 12h)</th>
                                  <th class="text-center">Work Description</th>
                                </tr>
                              </thead>
                              <tbody class="no-border-x" id="myTable">
                                <tr *ngFor="let record of worklogs; index as i;">
                                  <td>{{i+1}}</td>
                                  <td>
                                    <input type="date" class="form-control" [(ngModel)]="record.dateStarted"
                                      [disabled]="!record.isEditable" />
                                  </td>
                                  <td>
                                    <input type="text" class="form-control" [(ngModel)]="record.project"
                                      [disabled]="!record.isEditable" />
                                  </td>
                                  <td>
                                    <textarea class="form-control" [(ngModel)]="record.jiraTask"
                                    [disabled]="!record.isEditable"></textarea>
                                    <!-- <input type="text" class="form-control" [(ngModel)]="record.jiraTask"
                                      [disabled]="!record.isEditable" /> -->
                                  </td>
                                  <td>
                                    <input type="text" class="form-control" [(ngModel)]="record.jiraTicketNo"
                                      [disabled]="!record.isEditable" />
                                  </td>
                                  <td>
                                    <input type="text" class="form-control" [(ngModel)]="record.timeSpend"
                                      [disabled]="!record.isEditable" />
                                  </td>
                                  <td>
                                    <textarea class="form-control" [(ngModel)]="record.workDescription"
                                    [disabled]="!record.isEditable"></textarea>
                                    <!-- <input type="text" class="form-control" [(ngModel)]="record.workDescription"
                                      [disabled]="!record.isEditable" />
                                  </td> -->
                                  <td>
                
                                    <button (click)="record.isEditable=!record.isEditable" *ngIf="!record.isEditable"
                                      class="btn btn-success" class="btn btn-primary btn-rounded"><span
                                        class="glyphicon glyphicon-pencil">Edit</span>
                                    </button>
                                    <button *ngIf="record.isEditable" (click)="updateWorkLog(record)"
                                      class="btn btn-info btn-rounded">update
                                    </button>
                                    
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="alert alert-success" *ngIf="isSuccessful">
                              <br />{{ msg }}
                            </div>
                            <button class="btn btn-success" class="btn btn-primary btn-rounded" (click)="exportWorkLog()"><span
                                class="glyphicon glyphicon-download">Downlaod</span>
                            </button>
                          </div>
                        </div>
                        <br>
                        <form name="form" class="form-horizontal" (ngSubmit)="getWorkLog()" #f="ngForm" novalidate>
                          <div class="row">
                            <div class="col">
                              <div class="form-group mr-2">
                                <label for="months">select month</label>
                                <select class="form-control rounded-0" id="months" name="months" [(ngModel)]="form.month" type="text">
                                  <option *ngFor="let m of month" [ngValue]="m"> {{m}} </option>
                                </select>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group mr-2">
                                <label for="year">Search Previous Report </label>
                                <button class="btn btn-primary btn-block">Search</button>
                              </div>
                              <div class="alert alert-warning" *ngIf="isSignUpFailed">
                                <br />No Record Found
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div> 
              </div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                 
              </div>
          </div>
      </div>
  </div>

