<aside class="sidebar shadow-sm">
  <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
    <div class="picture-wrapper mb-4">
      <div class="user-picture m-auto">
        <img src="../assets/img/user.jpg" class="img-fluid" alt="">
      </div>
    </div>
    <div class="profile-details text-center pb-4">
      <p class="mb-0 text-uppercase name">{{username |uppercase}}</p>
      <small class="text-uppercase text-dark font">{{company}}</small>
    </div>
  </div>
  <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
    <input type="search" class="form-control rounded-pill" name="search" placeholder="Search ...">
  </div>
  <nav class="sidebar-menu pt-3 pb-3">
    <div class="menu-header mt-3 mb-2">
      Components
    </div>
    <ul class="menu-items">
      <li >
        <a href="#" routerLink="/dashboard" routerLinkActive="active" *ngIf="isLoggedIn">
          <i class="fa fa-tv"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/punch" routerLinkActive="active" *ngIf="isLoggedIn">
          <i class="fa fa-share"></i>
          <span>Manual Punch</span>
          <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/billing_logs" routerLinkActive="active" *ngIf="isLoggedIn">
          <i class="fa fa-share-alt"></i>
          <span>Billing Logs</span>
          <span class="badge badge-danger rounded-0 text- p-1">NEW</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/work-log" routerLinkActive="active" *ngIf="isLoggedIn">
          <i class="fas fa-lock"></i>
          <span>Work Log</span>
          <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/work-log-raise-request" routerLinkActive="active" *ngIf="isLoggedIn">
          <i class="fa fa-reply"></i>
          <span>Work Log Raise</span>
          <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/leave" routerLinkActive="active" *ngIf="isLoggedIn">
          <i class="fa fa-location-arrow"></i>
          <span>Apply Leave</span>
          <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/holidays" *ngIf="isLoggedIn">
          <i class="fa fa-list"></i>
          <span>Holiday List</span>
          <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span>
        </a>
      </li>
    </ul> 
  </nav>
</aside>