<div class="row">
    <div class="col-md-12 mb-4 ">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          <h5>Work Log</h5>
        </div>
        <div class="card-body">
          <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onCreated()" #f="ngForm" novalidate>
            <div class="form-group">
              <label for="dateStarted">Start Date</label>
              <input type="date" class="form-control" name="dateStarted" [(ngModel)]="form.dateStarted" placeholder="yyyy-mm-dd"
                pattern="^[0-9]{4}[\-][0-9]{2}[\-][0-9]{2}$" required #dateStarted="ngModel" id="example1"/>
              <div class="alert alert-danger" role="alert"
                *ngIf="dateStarted.invalid && (dateStarted.dirty || dateStarted.touched)">
                Input invalid
              </div>
              <div class="alert-danger" *ngIf="f.submitted && dateStarted.invalid">
                <div *ngIf="dateStarted.errors.required">Started Date is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="project">Project Name</label>
              <input type="text" class="form-control" name="project" [(ngModel)]="form.project"
                #project="ngModel" />
            </div>
            <div class="form-group">
              <label for="jiraTicketNo">Jira Ticket No</label>
              <input type="text" class="form-control" name="jiraTicketNo" [(ngModel)]="form.jiraTicketNo"
                #jiraTicketNo="ngModel" />
            </div>

            <div class="form-group">
              <label for="workDescription">Jira Task</label>
              <textarea class="form-control" rows="5" id="jiraTask" name="jiraTask" placeholder="
1. Task1. 
2. Task2."
               [(ngModel)]="form.jiraTask" #jiraTask="ngModel"
                required></textarea>
            </div>
            
            <div class="form-group">
              <label for="timeSpend">Time Spent (eg. 3w 4d 12h)</label>
              <input type="text" class="form-control" name="timeSpend" maxlength="3" 
              pattern="^[0-9]{1,2}[w,d,h]{1}$"
              [(ngModel)]="form.timeSpend"
                #timeSpend="ngModel" />
                <div class="alert alert-danger" role="alert"
                *ngIf="timeSpend.invalid && (timeSpend.dirty || timeSpend.touched)">
                Input invalid
              </div>
              <div class="alert-danger" *ngIf="f.submitted && timeSpend.invalid">
                <div *ngIf="timeSpend.errors.required">Time Spent is required</div>
                <div *ngIf="timeSpend.errors.timeSpend">
                  Please Enter Time Spent
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="workDescription">Work Description</label>
              <textarea class="form-control" rows="5" id="workDescription" name="workDescription" [(ngModel)]="form.workDescription" #workDesc="ngModel"
                ></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block">Log</button>
            </div>
            <div class="alert alert-warning" *ngIf="isSignUpFailed">
              <br />{{ msg }}
            </div>
            <div class="alert alert-warning" *ngIf="isSuccessful">
              <br />{{ msg }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>