<div *ngIf="!isLoggedIn">
  <div class="row justify-content-center">
    <div class="card border-0 rounded-0 h-100 ">
      <div class="card-title mb-1 p-3 justify-content-center">
        <h4 class="mb-4 text-muted align-items-center display-6 py-2 text-truncate">User Registration</h4>
      </div>
      <div class="card-body">
        <form name="form" (ngSubmit)="f.form.valid && user_registration()" #f="ngForm" novalidate>
          <div class="form-group row">
            <label for="username" class="col-sm-2 col-form-label text-nowrap">Username</label>
            <div class="col-sm-10">
              <input type="text" class="form-control rounded-0" placeholder="Username" class="form-control"
                name="username" [(ngModel)]="form.username" required #username="ngModel">
            </div>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="f.submitted && username.invalid">
            <div *ngIf="username.errors.required">username is required</div>
            <div *ngIf="username.errors.minlength">
              username must be at least 8 characters
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label text-nowrap">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control rounded-0" name="password" placeholder="Password"
                [(ngModel)]="form.password" required #password="ngModel">
            </div>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
          <div class="form-group row">
            <label for="firstname" class="col-sm-2 col-form-label text-nowrap">Firstname</label>
            <div class="col-sm-10">
              <input type="text" class="form-control rounded-0" name="firstname" placeholder="firstname"
                [(ngModel)]="form.firstname" required #firstname="ngModel">
            </div>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="f.submitted && firstname.invalid">
            <div *ngIf="firstname.errors.required">firstname is required</div>
          </div>

          <div class="form-group row">
            <label for="lastname" class="col-sm-2 col-form-label text-nowrap">Lastname</label>
            <div class="col-sm-10">
              <input type="text" class="form-control rounded-0" name="lastname" placeholder="lastname"
                [(ngModel)]="form.lastname" required #lastname="ngModel">
            </div>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="f.submitted && lastname.invalid">
            <div *ngIf="lastname.errors.required">lastname is required</div>

          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label text-nowrap">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control rounded-0" name="email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="test123@test.com"
                [(ngModel)]="form.email" required #email="ngModel">
            </div>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="f.submitted && email.invalid">
            <div *ngIf="email.errors.required">email is required</div>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="email.invalid && (email.dirty || email.touched)">
            Input invalid
          </div>
          <div class="form-group row">
            <label for="company" class="col-sm-2 col-form-label text-nowrap">Company</label>
            <div class="col-sm-10">
              <input type="text" class="form-control rounded-0" name="company" placeholder="Company"
                [(ngModel)]="form.company" required #company="ngModel">
            </div>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="f.submitted && company.invalid">
            <div *ngIf="company.errors.required">company is required</div>

          </div>

          <div class="form-group row">
            <label for="designation" class="col-sm-2 col-form-label text-nowrap">Designation</label>
            <div class="col-sm-10">
              <input type="text" class="form-control rounded-0" name="designation" placeholder="designation"
                [(ngModel)]="form.designation" required #designation="ngModel">
            </div>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="f.submitted && designation.invalid">
            <div *ngIf="designation.errors.required">designation is required</div>
          </div>

          <div class="form-group row">
            <label for="manager" class="col-sm-2 col-form-label text-nowrap">Manager Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control rounded-0" name="manager" placeholder="Manager"
                [(ngModel)]="form.manager" required #manager="ngModel">
            </div>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="f.submitted && manager.invalid">
            <div *ngIf="manager.errors.required">Manager is required</div>
          </div>
          <div class="form-group row">
            <label for="managerEmail" class="col-sm-2 col-form-label text-nowrap">Manager Email</label>
            <div class="col-sm-10">
              <input type="managerEmail" class="form-control rounded-0" name="managerEmail" placeholder="Manager Email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="form.managerEmail" required
                #managerEmail="ngModel">
            </div>
            <div class="alert alert-danger" role="alert"
              *ngIf="managerEmail.invalid && (managerEmail.dirty || managerEmail.touched)">
              Input invalid
            </div>
          </div>

          <button type="submit" class="btn btn-info">Submit</button>
          <div class="alert alert-warning" *ngIf="isSuccessful">
            <br />{{ msg }}
          </div>
          <div class="alert alert-warning" *ngIf="isSignUpFailed">
            <br />{{ msg }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>