<h4 class="mb-4 text-muted" *ngIf="isLoggedIn">Billing Board</h4>
<div class="row">
  <div class="col-md-12">
    <nav>
      <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#time-sheet" role="tab"
          aria-controls="nav-home" aria-selected="true">Biiling Log Send Request (In Month Wise)</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#work-log" role="tab"
          aria-controls="nav-profile" aria-selected="false">Billing Log Send Request (In Date Wise)</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="time-sheet" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="row" *ngIf="isLoggedIn">
          <div class="col-12 col-xl-12 mb-4 align-items-stretch">
            <div class="card h-100 border-0 rounded-0">
              <div class="card-body">
                <div class="table-responsive-md">
                  <div class="table-responsive">
                    <form name="form" class="form-horizontal" (ngSubmit)="getBillMonth()" #f="ngForm" novalidate>
                      <div class="row">
                        <div class="col">
                          <div class="form-group mr-2">
                            <label for="months">select month</label>
                            <select class="form-control rounded-0" id="months" name="months" [(ngModel)]="form.month"
                              type="text">
                              <option *ngFor="let m of month" [ngValue]="m"> {{m}} </option>
                            </select>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group mr-2">
                            <label for="year">Billing Log Send Request (In Month Wise)</label>
                            <button class="btn btn-primary btn-block">Send Mail</button>
                          </div> 
                          <div class="alert alert-success" *ngIf="isSuccessful">
                            <br />{{msg}}
                          </div>
                          <div class="alert alert-warning" *ngIf="isSignUpFailed">
                            <br />{{errorMessage}}
                          </div>
                        </div>
                      </div>
                    </form>
                
                  </div>
                </div>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="work-log" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="row" *ngIf="isLoggedIn">
          <div class="col-12 col-xl-12 mb-4 align-items-stretch">
            <div class="card h-100 border-0 rounded-0">
              <div class="card-body">
                <form name="form" class="form-horizontal" (ngSubmit)="getBillDate()" #f="ngForm" novalidate>
                  <div class="row">
                    <div class="col">
                      <div class="form-group mr-2">
                        <label for="dateStarted">Started Date</label>
                        <input type="date" class="form-control" name="dateStarted" [(ngModel)]="form.dateStarted"
                          placeholder="yyyy-mm-dd" pattern="^[0-9]{4}[\-][0-9]{2}[\-][0-9]{2}$" required
                          #dateStarted="ngModel" id="dateStarted" />
                        <div class="alert alert-danger" role="alert"
                          *ngIf="dateStarted.invalid && (dateStarted.dirty || dateStarted.touched)">
                          Input invalid
                        </div>  
                        <div class="alert-danger" *ngIf="f.submitted && dateStarted.invalid">
                          <div *ngIf="dateStarted.errors.required">Start Date is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group mr-2">
                        <label for="dateEnded">End Date </label>
                        <input type="date" class="form-control" name="dateEnded" [(ngModel)]="form.dateEnded"
                          placeholder="yyyy-mm-dd" pattern="^[0-9]{4}[\-][0-9]{2}[\-][0-9]{2}$" required
                          #dateEnded="ngModel" id="dateEnded" />
                        <div class="alert alert-danger" role="alert"
                          *ngIf="dateEnded.invalid && (dateEnded.dirty || dateEnded.touched)">
                          Input invalid
                        </div>
                        <div class="alert-danger" *ngIf="f.submitted && dateStarted.invalid">
                          <div *ngIf="dateStarted.errors.required">End Date is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group mr-2">
                        <label for="year">Billing Log Send Request (In Date Wise)</label>
                        <button class="btn btn-primary btn-block">Send Mail</button>
                      </div>
                  
                      <div class="alert alert-warning" *ngIf="isSignUpFailed">
                        <br />{{errorMessage}}
                      </div>
                      <div class="alert alert-success" *ngIf="isSuccessful">
                        <br />{{msg}}
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

      </div>
    </div>
  </div>
</div>