<div>
  <h4 class="mb-4 text-muted">Forms </h4>
  <div class="row">
    <div class="col-md-12 mb-4 ">

      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          <h5>Manual Timesheet Entry</h5>
        </div>
        <div class="card-body">
          <form name="form" (ngSubmit)="f.form.valid && manualPunch()" #f="ngForm" novalidate>
            <div class="form-group">
              <label for="loginDate">Login Date</label>
              <input type="date" class="form-control" name="loginDate" [(ngModel)]="form.loginDate"
                placeholder="yyyy-mm-dd" required=required #loginDate="ngModel"
                pattern="^[0-9]{4}[\-][0-9]{2}[\-][0-9]{2}$" />
              <div class="alert alert-danger" role="alert"
                *ngIf="loginDate.invalid && (loginDate.dirty || loginDate.touched)">
                Input invalid
              </div>
              <div class="alert-danger" *ngIf="f.submitted && loginDate.invalid">
                <div *ngIf="loginDate.errors.required">loginDate is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="logOutDate">Logout Date</label>
              <input type="date" class="form-control" name="logOutDate" [(ngModel)]="form.logOutDate"
                placeholder="yyyy-mm-dd" pattern="^[0-9]{4}[\-][0-9]{2}[\-][0-9]{2}$" required #logOutDate="ngModel" />
              <div class="alert alert-danger" role="alert"
                *ngIf="logOutDate.invalid && (logOutDate.dirty || logOutDate.touched)">
                Input invalid
              </div>
              <div class="alert-danger" *ngIf="f.submitted && logOutDate.invalid">
                <div *ngIf="logOutDate.errors.required">logOutDate is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="logInTime">Login Time</label>
              <input type="time" class="form-control" name="logInTime" [(ngModel)]="form.logInTime" placeholder="00:00"
                pattern="^^[0-9]{2}[\:][0-9]{2}$" required #logInTime="ngModel" />
              <div class="alert alert-danger" role="alert"
                *ngIf="logInTime.invalid && (logInTime.dirty || logInTime.touched)">
                Input invalid
              </div>
              <div class="alert-danger" *ngIf="f.submitted && logInTime.invalid">
                <div *ngIf="logInTime.errors.required">logInTime is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="logOutTime">Logout Time</label>
              <input type="time" class="form-control" name="logOutTime" [(ngModel)]="form.logOutTime"
                placeholder="00:00" pattern="^^[0-9]{2}[\:][0-9]{2}$" required #logOutTime="ngModel" />
              <div class="alert alert-danger" role="alert"
                *ngIf="logOutTime.invalid && (logOutTime.dirty || logOutTime.touched)">
                Input invalid
              </div>
              <div class="alert-danger" *ngIf="f.submitted && logOutTime.invalid">
                <div *ngIf="logOutTime.errors.required">logOutTime is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="projectName">Project Name</label>
              <input type="text" class="form-control" name="projectName" [(ngModel)]="form.projectName"
                #projectName="ngModel" />
            </div>
            <div class="form-group">
              <label for="module">Jira Ticket/Module Name</label>
              <input type="text" class="form-control" name="module" [(ngModel)]="form.module" #module="ngModel" />
            </div>
            <div class="form-group">
              <label for="remarks">Remarks</label>
              <input type="text" class="form-control" name="remarks" [(ngModel)]="form.remarks" #remarks="ngModel" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block">Save</button>
            </div>
            <div class="alert alert-success" *ngIf="isSuccessful">
              <br />{{ msg }}
            </div>
            <div class="alert alert-warning" *ngIf="isSignUpFailed">
              <br />{{ msg }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>