<div>
  <h4 class="mb-4 text-muted">Forms </h4>
  <div class="row">
    <div class="col-md-12 mb-4 ">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          <h5>Leave Apply</h5>
        </div>
        <div class="card-body">
          <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && applyLeave()" #f="ngForm" novalidate>
            <div class="form-group">
              <label for="to">TO</label>
              <input type="text" class="form-control" disabled name="to" value="{{to}}" required />
            </div>
            <div class="form-group">
              <label for="cc">CC</label>
              <input type="text" class="form-control" name="cc" [(ngModel)]="form.cc" #cc="ngModel" />

            </div>
            <div class="form-group">
              <label for="subject">Subject</label>
              <input type="text" class="form-control" name="subject" [(ngModel)]="form.subject" required
                #subject="ngModel" />
              <div class="alert-danger" *ngIf="f.submitted && subject.invalid">
                <div *ngIf="subject.errors.required">subject is required</div>
                <div *ngIf="subject.errors.subject">
                  Please Enter subject
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="comment">Body</label>
              <textarea class="form-control" rows="5" id="body" name="body" [(ngModel)]="form.body" #body="ngModel"
                required></textarea>
              <div class="alert-danger" *ngIf="f.submitted && body.invalid">
                <div *ngIf="body.errors.required">body is required</div>
                <div *ngIf="body.errors.body">
                  body Enter subject
                </div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block">Apply</button>
            </div>

            <div class="alert alert-warning" *ngIf="isSignUpFailed">
              <br />{{ msg }}
            </div>
          </form>
          <div class="row" *ngIf="isSuccessful">
            <div class="col-sm-12">
              <p class="alert alert-success text-center">
                <strong>{{msg}}</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>