<h4 class="mb-4 text-muted" *ngIf="isLoggedIn">Holiday List {{year}}</h4>
<div class="row" *ngIf="isLoggedIn">
  <div class="col-12 col-xl-12 mb-4 align-items-stretch">
    <div class="card h-100 border-0 rounded-0">
      <div class="card-body">
        <div class="table-responsive-md">
          <div class="table-responsive">
            <input class="form-control" id="myInput" onkeyup="myFunction()" type="text" placeholder="Search..">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>HOLIDAY</th>
                  <th>DAYS</th>
                  <th>DATE</th>
                  <th>MONTH</th>
                  <th>YEAR</th>
                </tr>
              </thead>
              <tbody class="no-border-x" id="myTable">
                <tr *ngFor="let record of data; index as i;">
                  <td>{{i+1}}</td>
                  <td>{{record.holiday}}</td>
                  <td>{{record.days}}</td>
                  <td>{{record.date}}</td>
                  <td>{{record.month}}</td>
                  <td>{{record.year}}</td>

                </tr>
              </tbody>
            </table>
            <button class="btn btn-success" class="btn btn-primary btn-rounded" (click)="exportAsXLSX()"><span
                class="glyphicon glyphicon-pencil">Downlaod</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>