<div *ngIf="!isLoggedIn">

  <!-- <a href="" type="submit" class="btn btn-info" routerLink="/user-registration"routerLinkActive="active" *ngIf="!isLoggedIn">Registration</a> -->
  <div class="row justify-content-center ">
    <div class="col-md-4 col-lg-3 mb-4 align-items-stretch">
      <div class="card border-0 rounded-0 h-100">
        <div class="card-title mb-1 p-3 justify-content-center">
          <h4 class="mb-4 text-muted align-items-center display-6 py-2 text-truncate" style="text-align: center;">Change Password</h4>
        </div>
        <div class="card-body">
          <form name="form" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" novalidate>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                [(ngModel)]="form.email" required #email="ngModel" />
              <div class="alert alert-danger" role="alert" *ngIf="f.submitted && email.invalid">
                email is required!
              </div>
              <div class="alert alert-danger" role="alert"
              *ngIf="email.invalid && (email.dirty || email.touched)">
              Input invalid
            </div>
            </div>
            <div class="form-group">
              <label for="otp"><button class="btn btn-info" *ngIf="email.valid" (click)="getOtp(form.email)">Send
                  OTP</button></label>
              <div class="row" *ngIf="isSuccess">
                <div class="col-sm-12">
                  <p class="alert alert-success box-msg" role="alert">
                    <strong > otp sended successfully</strong>
                  </p>
                </div>
              </div>
              <input type="password" class="form-control" name="otp" [(ngModel)]="form.otp" required #otp="ngModel" />
              <div class="alert alert-danger" role="alert" *ngIf="f.submitted && otp.invalid"> otp is required!</div>
              <div *ngIf="otp.errors.minlength"> otp must be at least 6 characters </div>
              <div class="alert alert-danger" role="alert" *ngIf="f.submitted && email.invalid">
                otp is required!
              </div>
            </div>
            <div class="form-group">
              <label for="password">New Password</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
                minlength="6" #password="ngModel" />
              <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
                password is required!
              </div>
            </div>
            <button type="submit" class="btn btn-info" >Update</button>
            <div class="form-group">
              <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isSignUpFailed">
                failed: {{ errorMessage }}
              </div>
            </div>
          </form>
          <div class="row" *ngIf="isSuccessful">
            <div class="col-sm-12">
              <p class="alert alert-success text-center">
                <strong>{{msg}}</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>