<!--The content below is only a placeholder and can be replaced.-->

<div class="wrapper default-theme" [ngClass]="getClasses() ">
  <app-navbar></app-navbar>
  <main>
    <app-sidebar *ngIf="isLoggedIn"></app-sidebar>
    <div class="pages container-fluid pt-4 pb-4 pl-4 pr-4 ">
      <router-outlet></router-outlet>
      <div *ngIf="!isLoggedIn && isExits">
        <div class="row justify-content-center align-items-center justify-content-center h-100">
          <div class="col-xl-3 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4 ">
            <div class="card border-0 rounded-0">
              <div class="card-body h-300" style="margin: 50px auto;">
                <h4 class="mb-4 text-muted align-items-center display-6 py-2 text-truncate">TIME-MANAGER</h4>
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                  <div class="align-items-center h-150 logo">
                    <img src="./assets/img/MCX_Logo_login.png" alt="logo" class="avatar">
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
                        #username="ngModel" />
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="f.submitted && username.invalid">
                      Username is required!
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                      <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
                        minlength="6" #password="ngModel" />
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
                      <div *ngIf="password.errors.required">Password is required</div>
                      <div *ngIf="password.errors.minlength">
                        Password must be at least 6 characters
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg">Login</button>
                  </div>
                  <div class="form-group">
                    <a href="./assets/pdf/guide.pdf">User Guide</a>
                  </div>
                  <div class="form-group">
                    <div class="alert alert-danger" role="alert" *ngIf="isLoginFailed">
                       {{ errorMessage }}
                    </div>
                  </div>
                </form>
                <!-- <a href="#" routerLink="/change-password" routerLinkActive="active">I forgot my password</a><br>
                <a href="#" class="text-center" routerLink="/user-registration" >Register a new user</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <app-footer></app-footer>
    </div>
    <div class="overlay" (click)="toggleSidebar()"></div>
  </main>
</div>