.login-form {
    width: 340px;
    margin: 50px auto;
}
.login-form form {        
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 40px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.input-group-addon .fa {
    font-size: 18px;
    margin: 7px auto;
    padding-right: 6px;
    
}
.reg{
    margin: 7px auto;
    padding-right: 6px;
}
.logo{
    margin: 37px auto;
}