<div class="col-md-12 col-lg-6 mb-4 align-items-stretch" *ngIf="isLoggedIn">
  <div class="card border-0 rounded-0 h-100">
    <div class="card-title mb-1 p-3">
      <h5>Update Profile Form</h5>
    </div>
    <div class="card-body" >
      <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && updateUser()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" value="{{username}}" disabled />
        </div>
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input type="text" class="form-control" name="firstname" [(ngModel)]="data.firstname" required minlength="3"
            #firstname="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && firstname.invalid">
              <div *ngIf="firstname.errors.required">firstname is required</div>
              <div *ngIf="firstname.errors.email">
                Please Enter valid firstname name
              </div>
            </div>
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" class="form-control" name="lastname" [(ngModel)]="data.lastname" required minlength="3"
            #lastname="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && lastname.invalid">
              <div *ngIf="lastname.errors.required">lastname is required</div>
              <div *ngIf="lastname.errors.email">
                Please Enter valid lastname name
              </div>
            </div>
        </div>
        <div class="form-group">
          <label for="dob">Birth Date</label>
          <input type="date" class="form-control" name="dob" [(ngModel)]="data.dob"
            placeholder="yyyy-mm-dd" pattern="^[0-9]{4}[\-][0-9]{2}[\-][0-9]{2}$" required #dob="ngModel" />
          <div class="alert alert-danger" role="alert"
            *ngIf="dob.invalid && (dob.dirty || dob.touched)">
            Input invalid
          </div>
          <div class="alert-danger" *ngIf="f.submitted && dob.invalid">
            <div *ngIf="dob.errors.required">dob is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="data.email" required email
            #email="ngModel" />
          <div class="alert-danger" *ngIf="f.submitted && email.invalid">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="company">Company Name</label>
          <input type="text" class="form-control" name="company" [(ngModel)]="data.company" required minlength="3"
            #company="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && company.invalid">
              <div *ngIf="company.errors.required">company is required</div>
              <div *ngIf="company.errors.email">
                Please Enter valid company name
              </div>
            </div>
        </div>
        
        <div class="form-group">
          <label for="degisnation">Designation</label>
          <input type="text" class="form-control" name="degisnation" [(ngModel)]="data.designation" required
            minlength="6" #degisnation="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && degisnation.invalid">
              <div *ngIf="degisnation.errors.required">designation is required</div>
              <div *ngIf="degisnation.errors.email">
                Please Enter valid designation name
              </div>
            </div>
        </div>
        <div class="form-group">
          <label for="password">Manager Name</label>
          <input type="text" class="form-control" name="manager" [(ngModel)]="data.manager" required minlength="6"
            #manager="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && manager.invalid">
              <div *ngIf="manager.errors.required">manager is required</div>
              <div *ngIf="manager.errors.email">
                Please Enter valid manager name
              </div>
            </div>
        </div>
        <div class="form-group">
          <label for="password">Manager Email</label>
          <input type="text" class="form-control" name="managerEmail" [(ngModel)]="data.managerEmail" required
            minlength="6" #managerEmail="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && managerEmail.invalid">
              <div *ngIf="managerEmail.errors.required">managerEmail is required</div>
              <div *ngIf="managerEmail.errors.email">
                Please Enter valid managerEmail name
              </div>
            </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" (click)="updateUser(data)" >Update</button>
        </div>
        <div class="alert alert-warning" *ngIf="isSignUpFailed">
          <br />{{ msg }}
        </div>
      </form>
      <div class="row" *ngIf="isSuccessful">
        <div class="col-sm-12">
          <p class="alert alert-success text-center">
            <strong>{{msg}}</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>