<nav class="navbar navbar-expand-md fixed-top navbar-dark flex-fill">
  <!-- <button class="sidebar-toggler ml-4" type="button">
    <i class="fa fa-navicon"></i>
  </button> -->
  <!-- header -->
  <div class="navbar-header pl-2 pr-2 ml-3 text-center">
    <a class="navbar-brand m-0 w-100" href="#">
       <i class="fa fa-flash mr-1"></i> 
      <img src="./assets/img/MCX_Logo_login.png" width="90px"> 
      <span class="ml-1">TIME MANAGER</span>
    </a>
  </div>
  <!-- sidebar toggler -->
  <div class="sidebar-toggler ml-auto mr-3">
    <a class="btn nav-link" (click)="toggleSidebar()"><i class="fa fa-bars"></i></a>
  </div>
  <!-- right menu toggler -->
  <div class="nav-toggler-right mr-4 d-md-none">
    <button class="" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseBasic">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <img src="./assets/img/user.jpg" class="img-fluid" alt="">
    </button>
    <span class="user-profile nav-alert bg-danger"></span>
  </div>
  <!-- left box -->
  <ul class="navbar-nav flex-fill mt-1 align-items-center left-nav">
    <li class="nav-item navicon">
      <a class="btn nav-link" (click)="toggleSidebarPin()"><i class="fa fa-bars"></i></a>
    </li>
    <li class="nav-item flex-fill">
      <input class="form-control navbar-search" type="text" placeholder="Search . . .">
    </li>
  </ul>
  <div class="collapse navbar-collapse right-nav" id="collapseBasic" [collapse]="isCollapsed">
    <ul class="navbar-nav" *ngIf="isLoggedIn">
      <li class="nav-item" *ngIf="isLoggedIn">
        <a  class="btn nav-link" data-toggle="tooltip" data-placement="top" title="{{extra}} {{less}} Calculated Hours"> 
          <i class="far fa-bell"></i>
          <span class="link-text"></span>
          <span *ngIf="loss" class="badge badge-pill badge-warning">{{less}}</span>
          <span *ngIf="gain" class="badge badge-pill badge-success">{{extra}}</span>
          <span class="nav-alert notifications"></span>
        </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="btn nav-link dropdown-toggle" data-toggle="dropdown">
          <i class="far fa-envelope"></i>
          <span class="badge badge-info">{{notifyCount}}</span>
        </a>
        <div class="dropdown" >
          <div class="dropdown-menu">
            <ul *ngFor="let records of record"  >
              <li> <i class="fa fa-birthday-cake" aria-hidden="true"></i> Today is <b>{{records.firstname}} {{records.lastname}} </b>birthday </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="btn nav-link" routerLink="/update-profile" routerLinkActive="active" *ngIf="isLoggedIn">
          <i class="far fa-user"></i>
          <span class="link-text">Profile</span>{{username | titlecase}}
          
        </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href class="nav-link" (click)="logout()">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          <span class="link-text">Logout</span>Logout
        </a>
      </li>
      <li>
      </li>
    </ul>
  </div>
</nav>  
<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>